*{
  box-sizing: border-box;
}
body, html{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Press Start 2P', cursive;
}

header{
  height: 100px;
  padding: 15px;
  line-height:75px;
  background: #333333;
  color: #FFF;
  display: flex;
  flex-flow: row wrap;
}


a {
  text-decoration: none;
  color: white;
}

hr {
  color: #fff;
  border: none;
}
.title{
  float:left;
  width:50%;
}

.mainContainer {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.mainContainer div {
    width: 15px;
    height: 15px;
    float: left;
    outline: 1px solid #f7f7f7;
}

#colors{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  float:right;
  width:50%;
}

#colors a {
  min-width:40px;
  height: 40px;
  text-align:center;
  display:block;
  line-height:30px;
}

.white {
  background: white;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.black {
  background: black;
}
#colors .black {
  padding: 5px 10px;
  box-sizing: border-box;
}
